/* Maple Mono NF CN Font */

@font-face {
  font-family: 'Maple Mono NF CN';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Maple Mono NF CN'),
       local('MapleMono-NF-CN-Regular'),
       url('/fonts/MapleMono-NF-CN-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Maple Mono NF CN';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Maple Mono NF CN Bold'),
       local('MapleMono-NF-CN-Bold'),
       url('/fonts/MapleMono-NF-CN-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Maple Mono NF CN';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Maple Mono NF CN Italic'),
       local('MapleMono-NF-CN-Italic'),
       url('/fonts/MapleMono-NF-CN-Italic.ttf') format('truetype');
}
